body {
  font-family: "Montserrat", sans-serif;
}
#coded-by {
  text-align: center;
  text-decoration: none;
  color: #132743; 
}
#big-icon {
  max-width: 180px;
  align-self: center;
}
#week {
  text-align: center;
  font-family: 'Besley', serif;
font-family: 'Comfortaa', cursive;
  font-size: 20px;
  color:#132743; 
}
#design-pls {
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:40px;
  background:linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 10px;
}
#weather-icon {
  max-width: 70px;
}
#quote {
  font-family:'Besley', serif;
  font-size: 20px;
  max-width: 100%;
  text-shadow: 10px 7px 19px #dfe9f3,
  color: #132743;;
} 
a { 
  text-decoration: none;
}
h5{
  padding-top: 10px;
  color:#132743; }
#forecast{
  padding-top:0;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  color:#132743; 
}
.card{
  max-width: 100%;
  margin: 0 auto;
  padding-top:50px;
}
#timezone::first-letter, #windspeed::first-letter,#precipitation::first-letter{
text-transform: capitalize;
color:#132743; 
}
#description::first-letter{
  color:#132743; 
  text-transform: capitalize;
}
.active {
  color:#132743; 
  cursor: default;
  font-size: 25px;
}
.active:hover{
  text-decoration: none;
}
#big-icon{
max-width: 130px;
}
.tempMin{
  font-size: 15px;
  text-align: center;
  color:#132743; 
}
#submitButton:hover, #geo:hover{
background-color: #dfe9f3 transparent;
color:#132743; 
cursor: pointer;
font-size: larger;
}
#forecastweek{
  text-align: center;
  background:linear-gradient(to top, #dfe9f3 0%, white 100%);
  color:#132743; 
}
#forecastweek:hover{
font-size: 23px;
background: linear-gradient(360deg, rgb(208, 245, 236) 0%, rgb(223, 233, 243) 53%);
border-radius: 10px;
text-align: center;
color:#132743; 
}
#today-is, #time{
  color:#132743; 
  font-size: 18px;
}
#weather-cel,#celsius, #fahren, #description, #center, #big-icon {
  color:#132743; 
}